@media only screen and (min-width:1920px){.level-3 img,.level-2 img,.level-1 img{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1,1);transform:scale(1);}
 .level-1.object-1{left:-140px;bottom:-140px;}
 .level-1.object-2{right:100px;}
 .level-1.object-3{right:0px;top:-50px;}
 .level-2.object-1{left:320px;bottom:0px;}
 .level-2.object-2{right:-150px;bottom:0px;}
 .level-2.object-3{right:340px;top:-80px;}
 .level-3.object-1{left:340px;bottom:0px;}
 .level-3.object-2{left:320px;bottom:250px;}
 section.section{position:relative;padding:100px 0 110px;overflow:hidden;}
}
@media only screen and (min-width:1400px) and (max-width:1919px){.level-3 img,.level-2 img,.level-1 img{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1,1);transform:scale(1);}
 .level-1.object-1{left:-140px;bottom:-140px;}
 .level-1.object-2{right:100px;}
 .level-1.object-3{right:0px;top:-50px;}
 .level-2.object-1{left:320px;bottom:0px;}
 .level-2.object-2{right:-150px;bottom:0px;}
 .level-2.object-3{right:340px;top:-80px;}
 .level-3.object-1{left:340px;bottom:0px;}
 .level-3.object-2{left:320px;bottom:250px;}
 section.section{position:relative;padding:90px 0 100px;overflow:hidden;}
}
@media (min-width:768px) and (max-width:991px){#home ul li .main_content .home-big-text{font-size:66px;line-height:76px;}
 .level-1.object-1{left:-230px;bottom:-230px;}
 .level-1.object-3{right:-50px;bottom:-200px;}
 .level-2.object-1{left:100px;bottom:-60px;}
 .level-3.object-1{left:160px;bottom:-10px;}
 .scrollToTop{display:none !important;}
 #service .service-box .service-info{padding:0 10px;}
 #contact .page-section #googlemap{height:350px;}
 #contact .page-section .contact-form{text-align:center;max-width:100%;}
}
@media (min-width:640px) and (max-width:767px){.scrollToTop{bottom:70px !important;}
 .sm-no-border{border:none !important;}
 h6{margin-bottom:50px;}
 #home ul li .main_content .home-big-text{font-size:54px;line-height:64px;}
 #home ul li .main_content .home-sub-text{font-size:20px;}
 #home ul li .main_content .home-info-text{font-size:20px;}
 .level-1.object-1{left:-230px;bottom:-230px;}
 .level-1.object-3{right:-50px;bottom:-200px;}
 .level-2.object-1{left:100px;bottom:-60px;}
 .level-3.object-1{left:160px;bottom:-10px;}
 section .title-container .section-title{font-size:26px;}
 section .title-container .section-sub-title{font-size:18px;max-width:470px;}
 #countdown .number-container{margin:10px auto;}
 #service .service-box{max-width:470px;margin-left:auto;margin-right:auto;margin-bottom:50px !important;}
 #service .service-box .service-info{padding:0 20px;}
 #portfolio .gallery li{display:block;float:left;width:50%;}
 #about .team-container{max-width:470px;margin:0 auto 50px;text-align:center;}
 #contact .page-section{margin-top:0px;}
 #contact .page-section #googlemap{height:350px;}
 #contact .page-section .contact-form{text-align:center;max-width:100%;}
 #subscribe .subscribe-form{width:50%;}
 .under-construction-form{width:60%;}
}
@media (min-width:480px) and (max-width:639px){.scrollToTop{bottom:70px !important;}
 .sm-no-border{border:none !important;}
 h6{margin-bottom:50px;}
 .header .save-date .save-date-btn{font-size:20px;padding:18px 20px;}
 .header .save-date .save-date-btn i{margin:0;}
 .header .save-date .save-date-btn span{display:none;}
 #home ul li .main_content .home-big-text{font-size:42px;line-height:52px;}
 #home ul li .main_content .home-sub-text{font-size:18px;}
 #home ul li .main_content .home-info-text{font-size:18px;}
 .level-3 img,.level-2 img,.level-1 img{-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-ms-transform:scale(0.5,0.5);transform:scale(0.5);}
 .level-1.object-1{left:-230px;bottom:-230px;}
 .level-1.object-2{right:-50px;bottom:-150px;}
 .level-1.object-3{right:-50px;bottom:-200px;}
 .level-2.object-1{left:70px;bottom:-60px;}
 .level-2.object-3{right:160px;top:-80px;}
 .level-3.object-1{left:140px;bottom:-10px;}
 .level-3.object-2{left:120px;bottom:110px;}
 section .title-container .section-title{font-size:26px;}
 section .title-container .section-sub-title{font-size:16px;max-width:470px;}
 #countdown .number-container{margin:10px auto;}
 #service .service-box{max-width:470px;margin-left:auto;margin-right:auto;margin-bottom:50px !important;}
 #service .service-box .service-info{padding:0 20px;}
 #portfolio .gallery li{float:none;clear:both;text-align:center;width:100%;}
 #about .team-container{max-width:470px;margin:0 auto 50px;text-align:center;}
 #contact .page-section{margin-top:0px;}
 #contact .page-section #googlemap{height:350px;}
 #contact .page-section .contact-form{text-align:center;max-width:100%;padding:40px 40px;}
 #subscribe .subscribe-form{width:50%;}
 .under-construction-form{width:60%;}
 }
@media (min-width:360px) and (max-width:479px){.scrollToTop{bottom:70px !important;}
 .sm-no-border{border:none !important;}
 h6{margin-bottom:50px;}
 .float-left{float:none;clear:both;}
 .header .save-date .save-date-btn{font-size:20px;padding:18px 20px;}
 .header .save-date .save-date-btn i{margin:0;}
 .header .save-date .save-date-btn span{display:none;}
 #home ul li .main_content .home-big-text{font-size:34px;line-height:34px;}
 #home ul li .main_content .home-sub-text{font-size:16px;}
 #home ul li .main_content .home-info-text{font-size:16px;}
 .level-3 img,.level-2 img,.level-1 img{-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4,0.4);transform:scale(0.4);}
 .level-1.object-1{left:-240px;bottom:-240px;}
 .level-1.object-2{display:none;}
 .level-1.object-3{right:-90px;bottom:-200px;}
 .level-2.object-1{left:20px;bottom:-80px;}
 .level-2.object-2{right:-170px;bottom:-50px;}
 .level-2.object-3{right:80px;}
 .level-3.object-1{display:none;}
 .level-3.object-2{left:80px;bottom:80px;}
 section .title-container .section-title{font-size:26px;}
 section .title-container .section-sub-title{font-size:16px;max-width:350px;}
 #countdown .number-container{margin:10px auto;}
 #service .service-box{max-width:350px;margin-left:auto;margin-right:auto;margin-bottom:50px !important;}
 #service .service-box .service-info{padding:0 20px;}
 #portfolio .gallery li{float:none;clear:both;text-align:center;width:100%;}
 #about .team-container{max-width:350px;margin:0 auto 50px;text-align:center;}
 #contact .page-section{margin-top:0px;}
 #contact .page-section #googlemap{height:350px;}
 #contact .page-section .contact-form{text-align:center;max-width:100%;padding:40px 20px;}
 #subscribe .subscribe-form{display:block;width:80%;margin:0px auto 30px;}
 #footer{text-align:center;}
 .footer-social{float:none !important;clear:both;}
 .main_content .error-big-text{font-size:120px;line-height:120px;margin:0;}
 .main_content .error-sub-text{font-size:14px;}
 .under-construction-form{width:80%;}
 #under-construction-countdown .number-container .icon-lg{font-size:36px !important;}
}
@media (min-width:320px) and (max-width:359px){.scrollToTop{bottom:70px !important;}
 .sm-no-border{border:none !important;}
 h6{margin-bottom:50px;}
 .float-left{float:none;clear:both;}
 .header .save-date .save-date-btn{font-size:20px;letter-spacing:0px;padding:18px 20px;}
 .header .save-date .save-date-btn i{margin:0;}
 .header .save-date .save-date-btn span{display:none;}
 #home ul li .main_content .home-big-text{font-size:30px;line-height:40px;}
 #home ul li .main_content .home-sub-text{font-size:16px;}
 #home ul li .main_content .home-info-text{font-size:14px;}
 .level-3 img,.level-2 img,.level-1 img{-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4,0.4);transform:scale(0.4);}
 .level-1.object-1{left:-240px;bottom:-240px;}
 .level-1.object-2{display:none;}
 .level-1.object-3{right:-90px;bottom:-200px;}
 .level-2.object-1{left:20px;bottom:-80px;}
 .level-2.object-2{right:-170px;bottom:-50px;}
 .level-2.object-3{display:none;}
 .level-3.object-1{display:none;}
 .level-3.object-2{left:80px;bottom:80px;}
 section .title-container .section-title{font-size:26px;}
 section .title-container .section-sub-title{font-size:16px;max-width:350px;}
 #countdown .number-container{margin:10px auto;}
 #service .service-box{max-width:350px;margin-left:auto;margin-right:auto;margin-bottom:50px !important;}
 #service .service-box .service-info{padding:0 20px;}
 #portfolio .gallery li{float:none;clear:both;text-align:center;width:100%;}
 #about .team-container{max-width:350px;margin:0 auto 50px;text-align:center;}
 #contact .page-section{margin-top:0px;}
 #contact .page-section #googlemap{height:350px;}
 #contact .page-section .contact-form{text-align:center;max-width:100%;padding:40px 20px;}
 #subscribe .subscribe-form{display:block;width:80%;margin:0px auto 30px;}
 #footer{text-align:center;}
 .footer-social{float:none !important;clear:both;}
 .main_content .error-big-text{font-size:120px;line-height:120px;margin:0;}
 .main_content .error-sub-text{font-size:14px;}
 .under-construction-form{width:80%;}
 #under-construction-countdown .number-container .icon-lg{font-size:36px !important;}
}
@media (max-width:319px){.scrollToTop{bottom:70px !important;}
 .sm-no-border{border:none !important;}
 h6{margin-bottom:50px;}
 .float-left{float:none;clear:both;}
 .header .save-date .save-date-btn{font-size:20px;letter-spacing:0px;padding:18px 20px;}
 .header .save-date .save-date-btn i{margin:0;}
 .header .save-date .save-date-btn span{display:none;}
 #home ul li .main_content .home-big-text{font-size:30px;line-height:40px;}
 #home ul li .main_content .home-sub-text{font-size:16px;}
 #home ul li .main_content .home-info-text{font-size:14px;}
 .level-3 img,.level-2 img,.level-1 img{-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4,0.4);transform:scale(0.4);}
 .level-1.object-1{left:-240px;bottom:-240px;}
 .level-1.object-2{display:none;}
 .level-1.object-3{right:-90px;bottom:-200px;}
 .level-2.object-1{left:20px;bottom:-80px;}
 .level-2.object-2{right:-170px;bottom:-50px;}
 .level-2.object-3{display:none;}
 .level-3.object-1{display:none;}
 .level-3.object-2{left:80px;bottom:80px;}
 section .title-container .section-title{font-size:26px;}
 section .title-container .section-sub-title{font-size:16px;max-width:350px;}
 #countdown .number-container{margin:10px auto;}
 #service .service-box{max-width:350px;margin-left:auto;margin-right:auto;margin-bottom:50px !important;}
 #service .service-box .service-info{padding:0 20px;}
 #portfolio .gallery li{float:none;clear:both;text-align:center;width:100%;}
 #about .team-container{max-width:350px;margin:0 auto 50px;text-align:center;}
 #contact .page-section{margin-top:0px;}
 #contact .page-section #googlemap{height:350px;}
 #contact .page-section .contact-form{text-align:center;max-width:100%;padding:40px 20px;}
 #subscribe .subscribe-form{display:block;width:80%;margin:0px auto 30px;}
 #footer{text-align:center;}
 .footer-social{float:none !important;clear:both;}
 .main_content .error-big-text{font-size:120px;line-height:120px;margin:0;}
 .main_content .error-sub-text{font-size:14px;}
 .under-construction-form{width:80%;}
 #under-construction-countdown .number-container .icon-lg{font-size:36px !important;}
}
